* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #222;
    
}

:root {
    --pimary-color: #00c2de;
}

.main{
    width: 100%;
    background-color: rgb(49, 48, 47);
    display: flex;
}

.left {
    height: 100vh;
    width: 50%; 
    background-image: radial-gradient(circle,rgba(0, 0, 0, 1) 0%, rgba(43, 43, 34, 1) 28%, rgba(64, 64, 49, 1) 50%, rgba(33, 33, 25, 1) 74%, rgba(20, 20, 14, 1) 100%);
;   
}

.left h1{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 30%;
    left: 20%;
    text-transform: uppercase;
    font-size: 37px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #d9cfcf;
}

.left h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 30%;
    left: 20%;
    margin-bottom: 10px;
    display: column;
    color: #d9cfcf;
}

.left i {
    font-size: 30px;
    color: var(--pimary-color);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    margin-right: 20px;
}

.dash {
    
    width: 100px;
    height: 2px;
    color: var(--pimary-color);
}

.right {
    height: 100vh;
    width: 50%;
    background-image: url(/cars/cont_img.avif);
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .container{
    padding: 25px 35px;
    /* border: 2px solid var(--pimary-color); */
    width: 30vw; 
    height: 50vh;
}

.right .container input,
.right .container textarea {
    width: 100%;
    color: #fff;
    padding: 12px;
    background: transparent;
    backdrop-filter: blur(4px);
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 2.3vh;
    border-image: linear-gradient(90deg,
        transparent,
        #d9cfcf,
        #e6dcdc,
        transparent
    )30;
    box-shadow: inset 0 0 20px rgba(208, 218, 220, 0.937);
    backdrop-filter: blur(20px);
    letter-spacing: 1px;
    font-weight:100;
    transition: 0.6s;
    font-size: 1.1em;
}

.right .container input:hover {
    transform: scaleX(1.03);
    
}

.right .container button {
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    color: #000;
    text-decoration: none;
    padding: 15px 50px;
    background: transparent;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg,
        transparent,
        var(--primary-color),
        var(--primary-color),
        transparent
    )30;
    box-shadow: inset 0 0 20px rgba(0,194,222,0.5);
    backdrop-filter: blur(20px);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    transition: 0.5s;
    font-size: 1em;
}

.right .container button:hover {
    transform: scaleX(0.9) scaleY(0.9) scaleZ(0.9);    
}